<div class="main">

    <div class="hero-div">
        <p class="hero-p"><span class="blue-span">winter</span> 
        is our time but 2020 we rock in <span class="gold-span">summer</span></p>
    </div>

    <div class="podium-div">
      <img class="medal-img" src="/stylesheets/top_medals_by_year.png">
      <h3>Years in Podium</h3>
    </div>
    
    <div class="secondary-div">
        <h3>Our Champions</h3>
        <div class="img-div">
            <img class="img" src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Cindy_Klassen_(2007).jpg" alt="athlete">
            <img class="img" src="/stylesheets/qTvJqmux_400x400.png" alt="athlete">
            <img class="img"src="https://upload.wikimedia.org/wikipedia/commons/5/5a/Hayley_Wickenheiser_2.jpg" alt="athlete">
        </div>
    </div>

    <a class="cta" href="/athletes">Meet them</a>

    <div class="secondary-div">
        <h3>Our sports</h3>
        <div class="img-div">
            <img class="img" src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Cindy_Klassen_(2007).jpg" alt="logo">
            <img class="img" src="/stylesheets/qTvJqmux_400x400.png" alt="logo">
            <img class="img"src="https://upload.wikimedia.org/wikipedia/commons/5/5a/Hayley_Wickenheiser_2.jpg" alt="logo">
        </div>
    </div>

    <a class="cta" href="/sports">Discover them</a>
</div>

<a href="/years">Years</a>
