<div class="main">
    <div class="hero-div">
    <p class="hero-p"><span>winter</span> is our time but 2020 we rock in summer</p>
    </div>

    <div class="champion-div">
        <h3>our champions</h3>
            <div >
                <img src="/stylesheets/qTvJqmux_400x400.png" alt="logo">
                <img src="/stylesheets/qTvJqmux_400x400.png" alt="logo">
                <img src="/stylesheets/qTvJqmux_400x400.png" alt="logo">
            </div>
    </div>

    <a class="cta" href="/athletes">See More Champions</a>
</div>








<a href="/sports">Sports</a>
<a href="/years">Years</a>

<p>In {{sports.0.name}} Canada worn  {{sports.0.gold}} medals</p>
