
<div class="hero-div">
<p class="hero-p"><span>winter</span> is our time but 2020 we rock in summer</p>
</div>

<a href="/athletes">Athletes</a>
<a href="/sports">Sports</a>
<a href="/years">Years</a>

<p>In {{sports.0.name}} Canada worn  {{sports.0.gold}} medals</p>
