<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
  <title>Canada</title>
</head>
<body>

  <header>
    <img class="logo" src="/stylesheets/team-canada_copy.png" alt="logo">
    <a href="/">Team Canada</a>
    <p class="nav-tagline">Currently getting ready for Tokyo eh?</p>
  </header>

  <nav>
    <a class="nav-anchor" href="/">Home</a>
    <a class="nav-anchor" href="/years">Year</a>
    <a class="nav-anchor"href="/athletes">Champions</a>
    <a class="nav-anchor" href="/sports">Sports</a>
  </nav>

  {{{body}}}
  
</body>
</html>
