<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
  <title>Canada</title>
</head>
<body>

  <nav>
    <img class="logo" src="/stylesheets/team-canada_copy.png" alt="logo">
    <a href="/">Team Canada</a>
    <p class="nav-tagline">Currently getting ready for Tokyo eh?</p>
  </nav>

  {{{body}}}

  <script type=‘text/javascript’>                    
  var divElement = document.getElementById(‘viz1582292352398’);                    
  var vizElement = divElement.getElementsByTagName(‘object’)[0];                    
  vizElement.style.width=’100%’;vizElement.style.height=(divElement.offsetWidth*0.75)+‘px’;                    
  var scriptElement = document.createElement(‘script’);                    
  scriptElement.src = "https://public.tableau.com/javascripts/api/viz_v1.js";                    
  vizElement.parentNode.insertBefore(scriptElement, vizElement);       
  </script>
</body>
</html>
