<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Canada</title>
</head>
<body>
  <nav>
<a href="/">Home</a>
<a href="/athletes">Athletes</a>
<a href="/sports">Sports</a>
<a href="/years">Years</a>
</nav>

  {{{body}}}
</body>
</html>
