/* CSS reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* CSS START */

body {
  font-family: "Helvetica", Helvetica, Arial, sans-serif;
  background-color: #fffbf0;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: white;
}

header{
  width: 100%;
  background-color: #92221f;
  font-size: 30px;
  letter-spacing: 0.57px;
  text-align: center;
  height: 60px;
  padding-top: 5px;
  padding-bottom: 2px;;
}

.nav-anchor{
  padding: 5px 10px;
  margin: 0px 2px;
  background-color: #92221f;
  font-size: 25px;
}

.nav-tagline{
  font-family: "Exo2";
  font-style: italic;
  font-size: 14px;;
  color: white;
}

.logo{
  
  height: 40px;
}

/* HERO DIV */

.hero-div{
  margin: 12.5%;
}

.hero-p{
  font-family: 'Exo 2';
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.57px;
  line-height: 1.1;
  text-justify: auto;
}

.blue-span{
  color: #fffbf0;
  background-color: #1b669a;
  padding: 1.5px;
}

.gold-span{
  color: #fffbf0;
  background-color: #b09210;
  padding: 1.5px;
}

/* INDEX */

h3{
  font-family: "Helvetica";
  font-size: 25px;
  font-weight: bold;
}

.medal-img{
  height: 150px;
}

.secondary-div{
  margin: 12.5%;
}

.img{
  height: 90px;
}

.cta{
  justify-content: center;
  text-align: center;
  font-weight: bold;
  background-color: #92221f;
  color: #fffbf0;
  font-size: 19px;
  box-shadow: 0 5px 0 0 #561615;
  padding: 2.5%;
  letter-spacing: 0.36px;
  width: 40%;
}

/* SPORTS */

.sports-title{
  padding: 5%;
}

h1{
  font-size: 25px;
  font-weight: bold;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.medal-div{
  background-color: white;
  width: 127px;
  margin: 20px;
}

.medal-title{
  font-family: "Exo 2";
  font-size: 19px;
  font-weight: bold;
  background-color: #7c2163;
  width: 117px;
  height: 40px;
  letter-spacing: 0.36px;
  color: #ffffff;
  padding: 5px;
}

.medal-count{
  width: 127px;
  height: 23px;
  font-family: "Exo 2";
  font-size: 19px;
  letter-spacing: 0.36px;
  color: #666666;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}


/* MEDALS */

.medals {
  display: flex;
  flex-direction: column;
}
.medal {
  font-size: 19px;
  height: 24px;
  display: flex;
  align-items: center;
}
.medal-icon {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin-right: 5px;
}
.gold {
  background-color: #FCC21B;
}
.silver {
  background-color: #CECED2;
}
.bronze {
  background-color: #F79329;
}
.medal {
  display: flex;
}

.card {
  width: 100%;
  background-color: white;
  display: flex;
  max-width: 700px;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  margin-bottom: 20px;
}

.color-highlight {
  width: 20px;
  height: 100%;
  background-color: #7C2163;
}

.athlete-name {
  font-weight: bold;
}

.info {
   font-size: 19px;
}

.medals {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #666666;
}

.medal {
  font-size: 19px;
  height: 24px;
  display: flex;
  align-items: center;
}

.medal-icon {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin-right: 5px;
}

.gold {
  background-color: #FCC21B;
}

.silver {
  background-color: #CECED2;
}

.bronze {
  background-color: #F79329;
}

.medal {
  display: flex;
}

.year {
  width: 78px;
  font-size: 21px;
  height: 100%;
  background-color: #7C2163;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.city {
  font-size: 21px;
  font-weight: bold;
}
#athlete-container{
  display: flex;
  /* width: 100%; */
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}
